*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
.header-container{
  background-image: url("Index-Images/mombasa.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  image-resolution: 1080px;
  height: 600px;
}
.header-contents{
  background-color: rgba(0,0,0,0.2);
  margin: 0;
  margin-bottom: 40px;
  display: block;
  background-size: cover;
}
.header-container a{
  margin-right: 20px;
  margin-top: 80px;
  font-size: 20px;
}
.links{
  text-decoration: none;
  display: block;
  margin-left: 20px;
  float: right;
  color: #d8aa02;
}
.logo{
  width: 100px;
  display: inline-block;
}
a:hover{
  text-decoration: underline;
  text-decoration-color: #d8aa02;
  text-decoration-thickness: 2px;
}
.description{
  display: block;
  padding-top: 30px;
  padding-bottom: 50px;
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;
  padding-top: 90px;
}
h1{
  color:rgb(161, 7, 7);
  font-size: 50px;
}
h2{
  color: #228B22;
}
.book-button{
  margin-top: 40px;
  text-decoration: none;
  background-color:rgb(212, 212, 5);
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border: none;
  border-radius: 10px;
  transition: background-color, color 0.3s;
}
.book-button:hover{
  background-color: #228B22;
  color: white;
  text-decoration: none;
}
.benefits-list{
  display: block;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 40px;
}
.benefit{
  display: inline-block;
  width: 20%;
  margin-right: 30px;
  vertical-align: top;
  margin-left: 30px;;
}
.benefit-icon{
  margin-left: 100px;
}
.benefit h3{
  color: #228B22;
  transition: color 0.3s;
  padding: 15px;
}
.benefit h3:hover{
  color: rgb(161, 7, 7);
}
.benefit p{
  color:rgb(109, 108, 108);
  padding: 8px;
  vertical-align: top;
}
.testimonials{
  padding: 40px 0;
  background: #02441e;
  color: #bd8f8f;
  text-align:center;
}
.inner{
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 0 20px;
}

.border{
  width: 160px;
  height: 5px;
  background: #6ab04c;
  margin: 26px auto;
}

.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.col{
  flex: 33.33%;
  max-width: 33.33%;
  box-sizing: border-box;
  padding: 15px;
}
.testimonial{
  background: #fff;
  padding: 30px;
  height: 400px;
}
.testimonial img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.name{
  font-size: 20px;
  text-transform: uppercase;
  margin: 20px 0;
}
.stars{
  color: #28670d;
  margin-bottom: 20px;
}
.container{
  max-width:1170px;

  margin:auto;
}

ul{
  list-style: none;
}
.footer{
  background-color: #d5e9e2;
  padding: 100px 0;
}
.footer-col{
  width: 25%;
  padding:0 15px;

}
.footer-col h4{
  font-size: 18px;
  color: #1d1a1a;
  text-transform: capitalize;
  margin-bottom: 50px;
  font-weight: 600;
  position: relative;
}
.footer-col h4::before{
  content:'';
  position:absolute;
  left: 0;
  bottom: -10px;;
  background-color:#850a35 ;
  height:2px ;
  box-sizing: border-box;
  width: 50%;
}
.footer-col ul li:not(:last-child){
margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #fff;
  text-decoration: none;
  font-weight:400;
  color:#03602b;
  display: block;
  transition:all 0.3s ease;

}
.footer-col ul li a:hover{
  color:rgb(18, 27, 1);
  padding-left: 10px;
}
.footer-col .social-links a{
display: inline-block;
height: 40px;
width:40px;
background-color:rgb(27, 191, 150) ;
margin:0 10px 10px 0;
text-align: center;
line-height: 40px;
border-radius: 50%;
color: #fff;
transition: all 0.5s ease;
}
.destinations{
background-color: #83c865;
}
.places h4{
text-align: center;
font-size: x-large;
padding:50px 0;
}
.images{
display: inline-block;
max-width: 100%;
height:15%;
margin-right: 90px ;
margin-left: 25px;
padding: 150px 0;

}
.images p{
display:block;
font-size: x-large;
font-weight: 500;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color: #28670d;
}

