*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #24241a;
  background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
}
/*--------------------------header styling------------------------------------------*/
.header-container{
  max-width: 1024px;
  width: 100%;
  position: relative;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav{
  font-family: 'Poppins', sans-serif;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .logo{
  width: 100px;
}
nav ul li{
  padding: 5px;
  list-style: none;
  display: inline-block;
  margin-left: 40px;
  cursor: pointer;
}
nav ul li a{
  text-decoration: none;
  color: white;
  font-size: 17px;
  transition: all 0.5s;
}
nav ul li a:hover{
  color: #23aeba;
  text-decoration: underline;
  text-decoration-color: #23aeba;
}
.heading{
  display: block;
  padding-top: 30px;
  color: white;
  padding-bottom: 40px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  display: block;
  margin-top: 120px;
}
.heading h1{
  font-family: 'Poppins', sans-serif;
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 15px;
  transition: all 0.5s ease-out;
}
.heading h1:hover{
  -webkit-text-stroke: 2px white;
  color: transparent;
}
.heading p{
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  font-size: 25px;
}
/*-------------------------------gallery styling--------------------------------------*/
.gallery-container{
  display: grid;
  justify-content: center;
  display: inline-block;
}
.polaroid-container{
  margin: 20px;
  background-color: white;
  border: 1px solid #a9a9a9;
  display: inline-block;
}
.polaroid-content{
  padding: 15px;
}
.polaroid-image img{
  width: 360px;
  height: 260px;
  filter: grayscale(60%);
}
.date{
  font-family: 'Homemade Apple', cursive;
  font-size: 13px;
  text-align: center;
  color: #4c4e52;
}
.location{
  font-family: 'Homemade Apple', cursive;
  font-size: 13px;
  text-align: center;
  color: #4c4e52;
}
.comment{
  font-family: 'Homemade Apple', cursive;
  font-size: 13px;
  text-align: center;
  color: #4c4e52;
}
