@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Mr+Dafoe&display=swap');

*{
    font-family: 'Kalam';
}
body{
    margin: 0;
    padding: 0;
    background-image: url(bg.jfif);
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
  width:500px;
  height:1270px;
  position:relative;
  margin:2% auto;
  background: #23aeba ;
  padding: 10px;
  font-size: 20px;
  color: white;
}

.button-box{
  width:500px;
  margin-left:-22px;
  display: flex;
  position:relative;
  box-shadow: 0 0 20px 9px #23aeba;
  border-radius: 30px
}

.btn1{
  width: 37%;
  padding: 10px;
  margin: auto;
  background: #66cdaa;
  outline: none;
  border-radius: 30px;
  border-width: 0px;
  font-size: 17px;
  text-decoration: none;
  color:  black;
  text-align: center;
  margin-right: 70%;
  margin-top: -30px;
}
.btn2{
  width: 37%;
  padding: 10px;
  margin: auto;
  background: #66cdaa;
  outline: none;
  border-radius: 30px;
  font-size: 17px;
  text-decoration: none;
  color: black;
  text-align: center;
}


#input-text{
  width: 80%;
  height: 40px;
  padding:10px 0;
  margin:5px 0;
  border-left:0;
  border-top:0;
  border-right:0;
  border-bottom: 1px solid black;
  outline:none;
  background: transparent;
}
  li{
    list-style-type: none;
  }
  h2{
    margin-left: 42%;
  }
option:checked{
  color: white;
}
::placeholder{
  color: black;
}
