*
{
    margin: 0px;
    padding: 0px;
}

.header{
    background: linear-gradient(white, rgb(3, 3, 60));
    line-height: 70px;
    padding-left: 30px;
}

a,a:hover {
    text-decoration: none!important ;
}

.logout{
    float: right;
    padding-right: 30px;
}

ul{
    background-color: rgb(3, 3, 60);
    width: 16%;
    height: 100%;
    position: fixed;
    padding-top: 5%;
    text-align: center;
}

ul li{
    list-style: none;
    padding-bottom: 30px;
    font-size: 15px;
}

ul li a {
    color: white;
    font-weight: bold;
}

ul li a:hover{
    color: skyblue;
    text-decoration: none;
}

.main{
    background-image: url('Overland-tours-in-africa.png');
}

.content{
    margin-left: 20%;
    margin-top: 5%;
}