.top{
    display: flex;
}

.flight{
    margin-left: 180px;
    padding-bottom: 50px;
    width: 200px;
    margin-top: 50px;
    height: 270px;
    background-image: url(../Index/Images/flight.jpeg);
    background-size: cover;
    background-repeat: no-repeat;

}
.hotel{
    margin-left: 200px;
    padding-bottom: 50px;
    width: 200px;
    margin-top: 50px;
    height: 270px;
    background-image: url(../Index/Images/hotel.jpeg);
    background-size: contain;
  
}
h4{
    color: black;
    text-align: center;
    margin-top: 45%;
}
.invoice{
    margin-left: 30px;
    margin-top: 25px;
    width: 180px;
}
#input-text{
    width: 70%;
    height: 40px;
    padding:10px 0;
    margin:5px 0;
    border-left:0;
    border-top:0;
    border-right:0;
    border-bottom: 1px solid rgb(20, 9, 9);
    outline:none;
    background: transparent;
  }
  ::placeholder{
    color: black;
  }
  .layer{
    background: transparent;
    height: 270px;
    width: 200px;
    position: absolute;
    transition: 0.5s;
    text-align: center;
  }
  .layer:hover{
    background-color: #0e9594;
    opacity: 50%;
  }
  .layer h1{
    width: 100%;
    font-weight: 500;
    color: white;
    font-size: 15px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    border: solid;
    border-radius: 10px;
    opacity: 0;
    transition: 0.5s;
    font-family: 'Akshar', sans-serif;
}
.layer:hover h1{
    bottom: 40%;
    opacity: 10;
}
#button{
    height: 30px;
    background-color: #0e9594;
    color: black;
    border: 1px solid;
    border-radius: 5px;
}
#button:hover{
    background-color: black;
    color: #0e9594;
}
.dashboard-info{
    height: 50px;
    background: linear-gradient(#66cdaa,#23aeba);
    display: flex;
    width: 100%;
}
.right{
    padding-top: 10px;
    margin-left: 65%;
}
.left{
    font-size: 20px;
    margin-bottom: 10px;
}
 